{% extends "base.html" %}
{% block content %}
	<!-- STARTS JUMBOTRON -->
	<div class="jumbotron">
		<h1 class="display-5">Mapa de casos de COVID-19 en Guanajuato.</h1>
		<p class="lead">En tiempos de crisis, es necesario presentar la información de manera clara y simple.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="https://coronavirus.guanajuato.gob.mx/" role="button">Ir a la fuente oficial de información</a>
		</p>
	</div>
	<!-- ENDS JUMBOTRON -->

	<!-- STARTS NUMBERS -->
	<div class="container">
		<p class="lead" id="last-update">Ultima actualización: </p>
		<script type="text/javascript">
			timestamp = {{ timestamp|safe }};
			// convert to milliseconds and  
			// then create a new Date object 
			date = new Date(timestamp * 1000);
			var date_field = document.getElementById("last-update");
			let text = document.createTextNode(date.toLocaleString("es-MX"));
			
			date_field.appendChild(text);
		</script>
        <div class="row counters">
			<div class="col text-center">
				<span class="display-3" data-toggle="counter-up">{{ resumen.descartados }}</span>
				<p>Casos descartados</p>
			</div>

			<div class="col text-center">
				<span class="display-3" data-toggle="counter-up">{{ resumen.investigacion }}</span>
				<p>Casos en investigación</p>
			</div>

			<div class="col text-center">
				<span class="display-3" data-toggle="counter-up">{{ resumen.confirmados }}</span>
				<p>Casos confirmados</p>
			</div>

			<div class="col text-center">
				<span class="display-3" data-toggle="counter-up">{{ resumen.comunitaria }}</span>
				<p>Casos de transmisión comunitaria</p>
			</div>

			<div class="col text-center">
				<span class="display-3" data-toggle="counter-up">{{ resumen.recuperados }}</span>
				<p>Casos recuperados</p>
			</div>

			<div class="col text-center">
				<span class="display-3" data-toggle="counter-up">{{ resumen.fallecidos }}</span>
				<p>Fallecidos</p>
			</div>
        </div>
	</div>
	<!-- ENDS NUMBERS -->

	<!-- STARTS MAP -->
	<div class="container">
		<div class="row">
			<div class="col-lg-7 text-center map">
				<div id="tooltip" display="none" style="position: absolute; display: none;"></div>
				<br>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 534.91 453.27">
					<defs>
					  <style>
						path {fill: #D4D4D4}
						path:hover {opacity: 0.4;}
						.cls-1 {fill: #18BC9C;}
						.cls-2 {fill: #FCB748;}
						.cls-3 {fill: #E74C3C;}
					  </style>
					</defs>
					<g id="COVID-19" data-name="COVID-19">
						{% for i in mapdata %}
							<path class="cls-{{ i['cls_col'] }}"
								d="{{ i['data'] }}"
								onmousemove="showTooltip(evt, `{{ i['name'] }}`);"
								onmouseout="hideTooltip();"
							/>
						{% endfor %}
					</g>
				</svg>
				<br>
				<label>Toca un municipio para conocer detalles.</label>
			</div>
			<div class="col table-cases">
				<table class="table table-hover text-center">
					<thead>
						<tr class="table-primary">
							<th scope="col">Municipio</th>
							<th scope="col">Casos en investigación</th>
							<th scope="col">Casos confirmados</th>
							<th scope="col">Casos descartados</th>
						</tr>
					</thead>
					<tbody>
						{% for name, value in estados.items() %}
						<tr class="table-light">
							<th scope="row">{{ name }}</th>
							<td>{{ value['investigacion'] }}</td>
							<td>{{ value['confirmados'] }}</td>
							<td>{{ value['descartados'] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table> 
			</div>
		</div>
	</div>
	<!-- ENDS MAP -->
{% endblock %}